.env
data/
config/jellyfin/
config/deluge/
config/aria2/
config/flood/
config/qbittorrent/
config/prowlarr/
config/radarr/
config/sonarr/
caddy/config/
caddy/data/
caddy/letsencrypt/
caddy/letsencrypt-logs/
caddy/letsencrypt-work/
caddy/passwords.txt
